In [3]:
import pandas as pd
df = pd.read_excel('measurement_data_0001~0394.xlsx')
df1 = pd.read_excel('육안평가_대표_박병철.xlsx')

/home/jeongho/miniconda3/envs/dart/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: measurement_data!$1:$2.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

In [7]:
df

,subject_no,수분_이마,수분_오른쪽볼,수분_왼쪽볼,수분_턱,탄력_턱_R0,탄력_턱_R1,탄력_턱_R2,탄력_턱_R3,탄력_턱_R4,...,주름_오른쪽눈가_Rq,주름_오른쪽눈가_Rmax,주름_오른쪽눈가_R3z,주름_오른쪽눈가_Rt,주름_오른쪽눈가_Rz=Rtm,주름_오른쪽눈가_Rp,주름_오른쪽눈가_Rv,스팟개수_정면,모공개수_오른쪽볼,모공개수_왼쪽볼
0,1,53.000000,76.333333,71.666667,78.666667,0.204,0.083,0.5931,0.243,0.123,...,15.760,95.142,41.774,98.502,70.769,46.387,52.115,147,608,629
1,2,75.000000,64.000000,63.000000,66.000000,0.279,0.088,0.6846,0.322,0.152,...,18.147,116.790,47.082,122.940,84.142,54.029,68.907,158,691,631
2,3,55.666667,59.000000,58.000000,57.666667,0.375,0.143,0.6187,0.399,0.182,...,19.352,111.210,51.799,116.000,89.042,60.206,55.790,32,417,312
3,4,58.000000,53.333333,53.666667,63.333333,0.249,0.093,0.6265,0.285,0.149,...,21.353,116.290,54.002,126.210,93.858,61.262,64.950,291,924,897
4,5,75.000000,80.666667,79.666667,76.666667,0.312,0.121,0.6122,0.355,0.191,...,25.327,140.060,66.217,147.460,108.800,60.933,86.530,108,1096,1075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,390,52.666667,63.000000,62.333333,56.000000,0.222,0.083,0.6261,0.248,0.124,...,21.614,133.750,57.214,139.350,98.965,72.603,66.743,74,306,235
390,391,58.666667,48.333333,44.333333,54.333333,0.366,0.120,0.6721,0.396,0.173,...,17.715,105.070,46.857,109.050,81.066,52.954,56.095,118,124,119
391,392,71.000000,70.666667,69.666667,67.666667,0.266,0.074,0.7218,0.293,0.121,...,15.293,86.642,41.088,93.944,70.048,45.880,48.064,30,216,132
392,393,47.666667,51.000000,49.333333,57.666667,0.273,0.130,0.5238,0.307,0.171,...,14.007,82.010,35.837,86.304,63.698,43.790,42.514,30,393,418
393,394,69.333333,68.333333,64.333333,66.333333,0.255,0.099,0.6118,0.290,0.120,...,27.949,167.210,73.514,175.960,124.580,76.322,99.633,99,221,193

In [6]:
df[['주름_오른쪽눈가_Ra', '주름_오른쪽눈가_Rt', '주름_오른쪽눈가_Rz=Rtm', '탄력_턱_R0', '탄력_턱_R2', '탄력_턱_R5', '스팟개수_정면', '모공개수_오른쪽볼', '모공개수_왼쪽볼']].describe()

,주름_오른쪽눈가_Ra,주름_오른쪽눈가_Rt,주름_오른쪽눈가_Rz=Rtm,탄력_턱_R0,탄력_턱_R2,탄력_턱_R5,스팟개수_정면,모공개수_오른쪽볼,모공개수_왼쪽볼
count,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000
mean,19.088236,151.314305,107.665881,0.259944,0.622263,0.583182,131.314721,744.426396,708.888325
std,4.225917,33.806915,22.145902,0.065899,0.095418,0.101677,56.035498,418.612157,396.509154
min,10.415000,80.148000,60.716000,0.102000,0.313500,0.336100,16.000000,15.000000,10.000000
25%,16.007500,127.342500,91.705250,0.210250,0.558100,0.516425,91.250000,423.500000,405.000000
50%,18.459500,147.465000,105.395000,0.258000,0.616900,0.576200,128.000000,702.000000,676.500000
75%,21.981750,174.277500,122.702500,0.305750,0.686675,0.646875,166.000000,1013.750000,948.000000
max,36.940000,328.000000,195.140000,0.498000,0.888000,0.910000,291.000000,2155.000000,2201.000000

In [3]:
df1[:100].describe()

,Subj.,이마 주름,미간 주름,눈가 주름-좌,눈가 주름-우,이마 색소침착,볼 색소침착-좌,볼 색소침착-우,볼 모공-좌,볼 모공-우,입술 건조도,턱선처짐
count,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,1.890000,0.84000,2.060000,2.010000,0.800000,2.420000,2.480000,2.510000,2.510000,1.290000,1.330000
std,29.011492,1.205166,0.72083,1.204537,1.226764,0.710669,1.296304,1.314104,1.105496,1.132576,0.935225,1.044998
min,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.750000,1.000000,0.00000,1.000000,1.000000,0.000000,1.750000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,50.500000,2.000000,1.00000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000
75%,75.250000,3.000000,1.00000,3.000000,3.000000,1.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000
max,100.000000,5.000000,3.00000,5.000000,5.000000,3.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000

In [1]:
import pandas as pd
df = pd.read_excel('측정데이터_0001~0100_rev1.xlsx')
df

/home/jeongho/miniconda3/envs/dart/lib/python3.8/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 측정데이터!$1:$2.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

,subject_no,수분_이마,수분_오른쪽볼,수분_왼쪽볼,수분_턱,탄력_턱_R0,탄력_턱_R1,탄력_턱_R2,탄력_턱_R3,탄력_턱_R4,...,주름_오른쪽눈가_Rq,주름_오른쪽눈가_Rmax,주름_오른쪽눈가_R3z,주름_오른쪽눈가_Rt,주름_오른쪽눈가_Rz=Rtm,주름_오른쪽눈가_Rp,주름_오른쪽눈가_Rv,스팟개수_정면,모공개수_오른쪽볼,모공개수_왼쪽볼
0,1,53,76.333333,71.666667,78.666667,0.204,0.083,0.5931,0.243,0.123,...,15.760,95.142,41.774,98.502,70.769,46.387,52.115,147,608,629
1,2,75,64,63,66.000000,0.279,0.088,0.6846,0.322,0.152,...,18.147,116.790,47.082,122.940,84.142,54.029,68.907,158,691,631
2,3,55.666667,59,58,57.666667,0.375,0.143,0.6187,0.399,0.182,...,19.352,111.210,51.799,116.000,89.042,60.206,55.790,32,417,312
3,4,58,53.333333,53.666667,63.333333,0.249,0.093,0.6265,0.285,0.149,...,21.353,116.290,54.002,126.210,93.858,61.262,64.950,291,924,897
4,5,75,80.666667,79.666667,76.666667,0.312,0.121,0.6122,0.355,0.191,...,25.327,140.060,66.217,147.460,108.800,60.933,86.530,108,1096,1075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,61,69,70.333333,64.333333,0.193,0.096,0.5026,0.225,0.131,...,16.383,109.000,40.731,115.590,76.239,63.409,52.184,126,1062,996
96,97,60.666667,59,58.333333,61.000000,0.205,0.094,0.5415,0.239,0.134,...,23.016,131.560,58.963,142.570,101.210,74.323,68.247,110,689,687
97,98,64.666667,67.666667,69,76.666667,0.223,0.083,0.6278,0.257,0.136,...,20.111,114.340,53.309,122.590,90.689,63.088,59.506,75,519,475
98,99,59,44.333333,45,61.000000,0.238,0.083,0.6513,0.265,0.134,...,20.083,115.240,51.397,120.720,91.975,58.473,62.248,101,564,620
99,100,67.666667,78,83,77.333333,0.183,0.096,0.4754,0.216,0.132,...,29.420,179.220,76.636,192.830,136.140,81.316,111.510,146,774,699

In [2]:
df['스팟개수_정면'].describe()

count    100.000000
mean     132.990000
std       53.108902
min       19.000000
25%      102.500000
50%      126.000000
75%      161.500000
max      291.000000
Name: 스팟개수_정면, dtype: float64