In [4]:
import pandas as pd
df = pd.read_excel('measurement_data_0851~1100.xlsx')
# df1 = pd.read_excel('육안평가_대표_박병철.xlsx')

In [79]:
new_df = df.loc[df['subject_no'].isin([1066, 1067, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081]), ['스팟개수_정면', '모공개수_오른쪽볼', '모공개수_왼쪽볼']]

In [80]:
name = ['에포트1', '에포트2', '서일송', '이한', '장희진', '이경호', '강다윤', '이은지', '강은수', '김다은', '아빠', '황형근', '누누']

In [71]:
[print(f"{name[idx]} => {item}개의 색소 침착 개수") for idx, item in enumerate(new_df['스팟개수_정면'])]

에포트1 => 42개의 색소 침착 개수
에포트2 => 73개의 색소 침착 개수
서일송 => 111개의 색소 침착 개수
이한 => 133개의 색소 침착 개수
장희진 => 102개의 색소 침착 개수
이경호 => 114개의 색소 침착 개수
강다윤 => 124개의 색소 침착 개수
이은지 => 142개의 색소 침착 개수
강은수 => 96개의 색소 침착 개수
김다은 => 129개의 색소 침착 개수
아빠 => 222개의 색소 침착 개수
황형근 => 127개의 색소 침착 개수
누누 => 86개의 색소 침착 개수

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [72]:
[print(f"{name[idx]} => {item}개의 모공개수_오른쪽볼") for idx, item in enumerate(new_df['모공개수_오른쪽볼'])]
[print(f"{name[idx]} => {item}개의 모공개수_왼쪽볼") for idx, item in enumerate(new_df['모공개수_왼쪽볼'])]

에포트1 => 484개의 모공개수_오른쪽볼
에포트2 => 580개의 모공개수_오른쪽볼
서일송 => 975개의 모공개수_오른쪽볼
이한 => 836개의 모공개수_오른쪽볼
장희진 => 660개의 모공개수_오른쪽볼
이경호 => 582개의 모공개수_오른쪽볼
강다윤 => 1004개의 모공개수_오른쪽볼
이은지 => 1171개의 모공개수_오른쪽볼
강은수 => 753개의 모공개수_오른쪽볼
김다은 => 630개의 모공개수_오른쪽볼
아빠 => 1050개의 모공개수_오른쪽볼
황형근 => 1435개의 모공개수_오른쪽볼
누누 => 953개의 모공개수_오른쪽볼
에포트1 => 414개의 모공개수_왼쪽볼
에포트2 => 410개의 모공개수_왼쪽볼
서일송 => 822개의 모공개수_왼쪽볼
이한 => 781개의 모공개수_왼쪽볼
장희진 => 525개의 모공개수_왼쪽볼
이경호 => 499개의 모공개수_왼쪽볼
강다윤 => 985개의 모공개수_왼쪽볼
이은지 => 1111개의 모공개수_왼쪽볼
강은수 => 752개의 모공개수_왼쪽볼
김다은 => 573개의 모공개수_왼쪽볼
아빠 => 1027개의 모공개수_왼쪽볼
황형근 => 1294개의 모공개수_왼쪽볼
누누 => 1139개의 모공개수_왼쪽볼

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [83]:
df.loc[df['subject_no'].isin([1066, 1067, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081]), :]

,subject_no,수분_이마,수분_오른쪽볼,수분_왼쪽볼,수분_턱,탄력_턱_R0,탄력_턱_R1,탄력_턱_R2,탄력_턱_R3,탄력_턱_R4,...,주름_오른쪽눈가_Rq,주름_오른쪽눈가_Rmax,주름_오른쪽눈가_R3z,주름_오른쪽눈가_Rt,주름_오른쪽눈가_Rz=Rtm,주름_오른쪽눈가_Rp,주름_오른쪽눈가_Rv,스팟개수_정면,모공개수_오른쪽볼,모공개수_왼쪽볼
215,1066,87.333333,91.333333,86.000000,83.333333,0.383,0.073,0.8094,0.418,0.130,...,22.186,134.76,56.935,144.49,105.220,73.451,71.037,42,484,414
216,1067,84.666667,81.666667,87.333333,90.333333,0.295,0.074,0.7492,0.329,0.113,...,24.179,140.64,61.811,153.83,113.900,76.625,77.206,73,580,410
220,1071,79.000000,84.000000,82.666667,90.333333,0.209,0.077,0.6316,0.246,0.128,...,21.586,129.26,53.788,139.60,98.360,67.877,71.719,111,975,822
221,1072,63.666667,86.000000,87.666667,69.000000,0.282,0.077,0.7270,0.313,0.100,...,25.954,151.31,65.479,157.84,114.810,69.510,88.326,133,836,781
222,1073,70.333333,77.333333,79.666667,85.000000,0.311,0.115,0.6302,0.343,0.178,...,16.980,112.23,44.902,117.35,79.732,53.354,63.996,102,660,525
223,1074,70.333333,62.333333,64.000000,52.333333,0.302,0.070,0.7682,0.337,0.125,...,21.111,121.71,56.943,131.55,98.594,67.371,64.181,114,582,499
224,1075,67.333333,73.000000,74.333333,70.333333,0.249,0.074,0.7028,0.298,0.112,...,22.643,135.55,57.728,139.84,104.150,63.213,76.628,124,1004,985
225,1076,76.666667,80.000000,82.666667,87.333333,0.240,0.085,0.6458,0.269,0.102,...,20.638,129.64,50.772,142.54,96.660,67.000,75.543,142,1171,1111
226,1077,66.000000,66.333333,69.333333,79.000000,0.331,0.063,0.8097,0.369,0.141,...,24.057,152.12,60.183,163.34,113.280,76.107,87.228,96,753,752
227,1078,74.666667,86.333333,82.666667,74.666667,0.247,0.076,0.6923,0.271,0.111,...,18.268,116.83,48.557,124.46,87.745,59.963,64.500,129,630,573
228,1079,57.000000,69.333333,71.333333,70.333333,0.293,0.110,0.6246,0.327,0.110,...,30.108,173.42,68.842,180.56,132.810,80.423,100.130,222,1050,1027
229,1080,78.000000,66.333333,58.000000,83.333333,0.352,0.079,0.7756,0.383,0.127,...,24.837,136.96,66.594,148.70,110.670,72.351,76.346,127,1435,1294
230,1081,73.333333,77.333333,82.000000,64.333333,0.163,0.056,0.6564,0.202,0.091,...,24.352,156.81,63.388,162.58,110.790,88.898,73.682,86,953,1139